{
  "extends": "airbnb",
  "rules": {
      "func-names": ["error", "never"],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "arrow-body-style": 0,
      "no-console": 0,
      "react/prefer-stateless-function": 0,
  },
  "env": {
      "browser": true,
    },
}
